<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">My Portfolio</h1>
        <p class="lead text-muted">I believe in creating quality and innovative projects that add value to the world. My portfolio items below is proof of this assertion.</p>
        <p>
        <%= link_to "About Me", about_me_path, class:"btn btn-dark my-2" %>
        <%= link_to "My Blogs",  blogs_path, class:"btn btn-dark my-2" %>
        </p>
    </div>
</section>