
          <div class="collapse" id="jobHistory">
            <div class="card card-block space">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'dan1.jpg', width: '100%', class:"img-circle" %>
                </div>
                <div class="col-md-9">
                  <strong>CTO</strong> - Lead in the development of the devCamp Learning Management System along with curriculum development from founding to acquisition.
                </div>
              </div>
            </div>
            
            <div class="card card-block space">
              <div class="row">
                <div class="col-md-3">
                   <%= image_tag 'dan1.jpg', width: '100%', class:"img-circle" %>
                </div>
                <div class="col-md-9">
                  <strong>Curriculum Director</strong> - Developed the curriculum for the Bottega Code School, including courses on: Ruby on Rails, Algorithms & Data Structures, Front End Coding, and Database Management.
                </div>
              </div>
            </div>
          </div>
