
          <div class="collapse" id="jobHistory">
            <div class="card card-block space">
              <div class="row">
                <div class="col-md-3">
                  <%= image_tag 'dan1.jpg', width: '100%', class:"img-circle" %>
                </div>
                <div class="col-md-9 text-dark">
                  <strong>CEO/CTO</strong> - Lead in the development of the 21st Century Skills Clinic; a 21st Century Skills developement System along with its curriculum.
                </div>
              </div>
            </div>
            
            <div class="card card-block space">
              <div class="row">
                <div class="col-md-3">
                   <%= image_tag 'dan1.jpg', width: '100%', class:"img-circle" %>
                </div>
                <div class="col-md-9 text-dark">
                  <strong>Workshop Cordinator</strong> -Responsible for workshop coordination for GhScientific; a UK based NGO in Ghana.
                </div>
              </div>
            </div>
          </div>
