          <div class="collapse" id="achievements">
            <div class="card card-block space">
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag 'hgh.png', width: '100%', class:"rounded" %>
                </div>
                <div class="col-md-10">
                 <%= link_to 'Co-founder of 21st Century Skills Clinic', "#", target: '_blank' %><br>
                 21st Century Skills Clinic is an education program that helps people Discover, Develop and Use thier potentials and passions to serve the world.
                </div>
              </div>
            </div>
           
            
            <div class="card card-block space">
              <div class="row">
                <div class="col-md-2">
                  <%= image_tag 'book.jpg', width: '100%', class:"rounded" %>
                </div>
                <div class="col-md-10">
                  <%= link_to 'Book: The  Motivator; Unpopular Way to Excellence', "#", target: '_blank' %><br>
                 Author of the above mentioned book which is helpeing people to fully discover, develop and use their potentials.
                </div>

              </div>
            </div>
          </div>
