
          <button
            class="btn btn-dark space-bottom"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controler="jobHistory"
          >
            Job History
          </button>

          <button
            class="btn btn-dark space-bottom"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controler="education"
          >
            Education
          </button>

          <button
            class="btn btn-dark space-bottom"
            type="button"
            data-toggle="collapse"
            data-target="#achievements"
            aria-expanded="false"
            aria-controler="achievements"
            >
            Achievements 
          </button>
