@import "bootstrap";
@import "font-awesome";
@import "gritter";

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
    margin-left: -40px;
}

.blog-header-logo:hover {
    text-decoration: none;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    overflow: auto;
}

@font-face {
    font-family: 'Roboto Condensed', sans-serif;
    src: font-url('RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Slab', serif;
    src: font-url('RobotoSlab-Regular.ttf');
}

h1,
h2,
h3,
h4,
h5,
h6,
{
    font-family: 'Roboto Slab', serif;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/*
 * Blog name and description
 */

.blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
}

.blog-description {
    font-size: 1.1rem;
    color: #999;
}

@media (min-width: 30em) {
    .blog-title {
        font-size: 3.5rem;
    }
}


/* Pagination */

.blog-pagination {
    margin-bottom: 4rem;
}

.blog-pagination>.btn {
    border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
    margin-bottom: 4rem;
}

.blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}


/*
 * Footer
 */

.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.blog-footer p:last-child {
    margin-bottom: 0;
}


/*custom styles*/

.space {
    margin: 8px;
}

.space-bottom {
    margin-bottom: 2px;
}

.center {
    text-align: center;
}

.list-unstyled {
    padding-bottom: 30px;
    /*margin: 20px;*/
}

.top {
    margin-top: 30px;
}

.blogcrumb a {
    margin: 0px 8px 0px 8px;
    font-size: 1em;
}

.big {
    font-size: 1.45em;
    font-weight: bolder;
}

.img-circle {
    border-radius: 50%;
}

.left {
    margin-left: -40px;
}